# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPres

RewriteEngine On
RewriteBase /

# Redirect encoded URL to hyphenated URL
RewriteCond %{THE_REQUEST} /([^%]*)\%20([^\s]*)\.html [NC]
RewriteRule ^ /%1-%2 [R=301,L]

# Rewrite hyphenated URL to actual URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)-([^/]+)$ $1\%20$2.html [L]
