# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPres

RewriteEngine On
RewriteBase /

# Redirect /Notes%20on%20the%20German%20symphony%20(ongoing).html to /Notes-on-the-German-symphony-(ongoing)
RewriteCond %{REQUEST_URI} ^/(.*?)(%20)(.*)(\.html)$ [NC]
RewriteRule ^ %1-%3 [R=301,L]

# Redirect /Notes-on-the-German-symphony-(ongoing) back to /Notes%20on%20the%20German%20symphony%20(ongoing).html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)-([^/]+)$ $1\%20$2.html [NC,L]
