RewriteEngine on
RewriteCond %{HTTP_HOST} ^domain.tld$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.chrysos.cc$
RewriteCond %{REQUEST_URI} !subdirectory/
RewriteRule (.*) //home/u788451084/domains/chrysos.cc/public_html/$1 [L]

# Rewriting URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)-(.*)$ $1\ $2.html [NC,L]
